<div class="info-container">
  <div class="info-text">
    <h2><u>Schön, dass Sie hier sind </u></h2>
    <p>Brainfree beudet "Hirnfrei" genau das können Sie hier über die Plattform erreichen</p>
    <p>Erstelle hier deine Einkauflsite und brainfree hilft dir den günstigsten Preis zu finden
      egal für welches Produkt und Online/Offline spielt keine Rolle</p>
    <p>Ich möchte dein Einkaufen revolutionioren damit du Platz für die wichtigen gedanken hast</p>

    <br/>

    <p>Dieser Text ist nur als Beispiel gedacht.</p>
    <p>Dieser Text ist nur als Beispiel gedacht.</p>
    <p>Dieser Text ist nur als Beispiel gedacht.</p>
  </div>
</div>
